# This file is the top-most EditorConfig file
root = true

# tab_style = space
# tab_style = tab
# indent_size = 4
# end_of_line = lf, cr, crlf
# charset = utf-8
# trim_trailing_whitespace = false, true
# insert_final_newline = false, true

# [*.cs]
# csharp_new_line_before_open_brace = none