alignModel.txt
alignment.json
source.id.lemma.txt
source.id.txt
source.txt
sourceFile.cw.txt
sourceFile.id.cw.txt
target.id.txt
target.punc.0.txt
target.punc.txt
target.txt
targetFile.cw.txt
targetFile.id.cw.txt
transModel.txt
